.vc_custom_1484096598249 .vc_column_container:nth-child(3)>.vc_column-inner{
  padding:0;
}
.mapa, #contMapa, #map{
max-height:800px!important;
min-height:0!important;
height:800px!important;
}

#box-lugares .sucursal ul li {
padding:0 10px 15px 26px!important;
}

#box-lugares .sucursal ul li:nth-child(1):before,
#box-lugares .sucursal ul li.dir:before{
  font: normal normal normal 22px/1 FontAwesome;
  content: "\f041";
left:2px!important;
}

#box-lugares .sucursal ul li:nth-child(2):before,
#box-lugares .sucursal ul li.agent:before{
font-family:"iconos-bm"!important;
content:"\e900"!important;
left:-3px!important;
top:-3px!important;
}

#box-lugares .sucursal ul li:nth-child(3):before,
#box-lugares .sucursal ul li.phone:before,{
  font: normal normal normal 22px/1 FontAwesome;
  content: "\f10b"!important;
font-size:22px!important;
left:3px!important;

}

#box-lugares .sucursal ul li:nth-child(4):before,
#box-lugares .sucursal ul li.mail:before{
font-family:"iconos-bm"!important;
content:"\e901"!important;    
position: absolute;
font-size:20px;
    top: 0;
    left: -3px;
    color: #fff;
}
